.question {
  display: flex;
  flex-direction: column;
  color: #333;

  padding: 45px 15%;
  font-family: sans-serif;

  > h3 {
    margin: 0;
    font-size: 32px;
    text-align: center;    
  }

  > button {
    margin: 0 auto;
  }

  &.locked {
    label.answer {
      color: #00B300;
      font-weight: bold;

      span {
        border-color: #00B300;

        &::after {
          border-color: #00B300;
        }
      }
    }
    label.wrong-answer {
      span {
        border-color: red;

        &::after {
          border-color: red;
        }
      }
    }
    label:not(.answer) {
      label {
       opacity: 0.4;
      }
    }
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  padding: 50px 0;

  > label {
    display: flex;
    align-items: center;

    padding: 20px 0;

    > input {
      display: none;
      margin-right: 20px;

      + label {
        display: flex;
        align-items: center;

        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          margin-right: 20px;
          border: 2px solid #333;
          border-radius: 3px;
          cursor: pointer;
        }
      }

      &:checked {
        + label {
          > span {
            &:after {
              content: '';
              display: block;
              width: 5px;
              height: 10px;
              border: solid #333;
              border-width: 0 3px 3px 0;
              transform: rotate(36deg);
            }
          }
        }
      }
    }
  }
}